{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@GlobalCss": "./src/Styles",
          "@Components": "./src/Components",
          "@Elements": "./src/Elements",
          "@Redux": ".src/Redux"
        }
      }
    ]
  ]
}
