@import '../../Styles/theme.scss';
@import '../../Styles/layout.scss';

.btnPrimary {
  display: flex;
  padding: 0.6em 1em;
  background-color: transparent;
  border: none;
  color: $text-1;
  transition: 200ms;
  font-weight: 600;
  font-size: 14px;

  &:hover {
    transition: 200ms;
    background-color: lighten($color: $base-blue, $amount: 10%);
  }
}

.btnSecondary {
  display: flex;
  padding: 0.6em 1em;
  background-color: $gray-light;
  color: $text-1;
  border: none;
  transition: 200ms;
  font-weight: 600;
  font-size: 14px;

  &:hover {
    transition: 200ms;
    background-color: lighten($color: $gray-light, $amount: 10%);
  }
}

@media screen and (max-width: $small) {
  .btnPrimary,
  .btnSecondary {
    font-size: 0.6em;
  }
}

@media screen and (min-width: $small) {
}
