@import '../../src/Styles/theme.scss';
@import '../../src/Styles/layout.scss';

.main {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0.2em 0;
  min-height: 46.2vh;
}

.homebtn {
  margin: 1em 0;
}
